@{
    ViewData["Title"] = "Upload Dashboard";
}

<div>
    <h1>Upload Dashboard</h1>

    <h2>Please insert your code snippet in the text area below and hit analyse.</h2>

    <pre class="code-input">@ViewData["Response"]</pre>
    
    <h3>RAW:</h3>
    <br/>

    <!-- Andy: Render raw HTML to the broswer (XSS vector) -->
    @Html.Raw(ViewData["Response"])
</div>

<style>
    .code-input {
        
    }
</style>