@{
    ViewData["Title"] = "Upload Dashboard";
}

<div>
    <h1>Upload Dashboard</h1>

    <h2>Please insert your code snippet in the text area below and hit analyse.</h2>

    <pre class="code-input">
        @ViewData["Response"]
    </pre>

    

</div>

<style>
    .code-input {
        
    }
</style>